@import url(./fonts.css);

$arxaFon: #262626;
$esasSari: #E1B838;

:root{
    font-family: 'opensans_regular';
    font-size: 10px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $arxaFon;
}
#header{
    width: 100vw;
    margin: 1rem 0 1rem 0;
    .items-group{
        display: flex;
        justify-content: center;
        gap: 5rem;
        align-items: center;
        .logo{
            img{
                height: 8rem;
            }
        }
        #navbar{
            
            ul{
                display: flex;
                border: 0.25rem solid $esasSari;
                justify-content: center;
                align-items: center;
                gap: 5vw;
                list-style-type: none;
                li{
                    
                    a{
                        font-size: 2rem;
                        text-decoration: none;
                        text-transform: capitalize;
                        color: $esasSari;
                        transition-duration: 0.25s;
                        
                    }
                    a:hover{
                        transition-property: padding;
                        color: $arxaFon;
                        padding: 0 0 2rem 0;
                        background-color: #E1B838;
                        border-radius: 0 0 100% 100%;
                    }
                }
            }
        }
    }
}
#greeting{
    background-image: url(../assets/img/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    .mainAbout{
        // width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15vw;
        img{
            height: 30rem;
        }
        .opening-group{
            display: flex;
            flex-direction: column;
            gap: 5rem;
            .opening{
                border: 1px solid $esasSari;
                .head{
                    text-align: center;
                    text-transform: uppercase;
                    background-color: $esasSari;
                }
                .date{
                    text-align: center;
                    text-transform: uppercase;
                    color: white;
                }
            }
            .descrip{
                h2{
                    text-align: center;
                    text-transform: uppercase;
                    color: white;
                }
            }
        }
    }
}